<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
<title>Student's Site</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{%static 'css/reset.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js'%}" ></script>
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cufon-replace.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Myriad_Pro_300.font.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Myriad_Pro_400.font.js'%}"></script>
<script type="text/javascript" src="{% static 'js/script.js'%}"></script>
<!--[if lt IE 7]>
<link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen">
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, footer, header nav ul li a, .nav-bg, .list li img');</script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="wrap">
  <header>
    <div class="container">
      <h1><a href="#">Student's site</a></h1>
      <nav>
        <ul>
          <li class="current"><a href="/" class="m1">Home Page</a></li>
          <li><a href="about" class="m2">About Us</a></li>
          <li><a href="post" class="m3">Our Articles</a></li>
          <li><a href="contact" class="m4">Contact Us</a></li>
          <li><a href="teachers" class="m4">Teachers</a></li>
          <li><a href="students" class="m4">Students</a></li>
          <li><a href="admins" class="m4">Admins</a></li>
          <li class="last"><a href="sitemap.html" class="m5">Sitemap</a></li>
        </ul>
      </nav>
      <form action="#" id="search-form">
        <fieldset>
          <div class="rowElem">
            <input type="text">
            <a href="#">Search</a></div>
        </fieldset>
      </form>
    </div>
  </header>
  <div class="container">
    <aside>
      <h3>Categories</h3>
      <ul class="categories">
        <li><span><a href="/">Home</a></span></li>
        <li><span><a href="students">Students</a></span></li>
        <li><span><a href="teacher">Teachers</a></span></li>
        <li><span><a href="post">Articles</a></span></li>
        <li><span><a href="admins">Administrators</a></span></li>
        
      </ul>
           
    </aside>
    <section id="content">
      <div id="banner">
        <h2>Our admins <span> <span>Since 2021</span></span></h2>
      </div>
      
      <div class="inside">
        <h2>Our admins <span></span></h2>
        {% for rs in admin %}
        <p>{{rs.name}}</p>
        <ul class="sitemap">
          {{rs.surname}}
        </ul>
        <p>{{rs.level}}</p>
        <img src="{{rs.image.url}}" style="height: 100px;" alt="">
        <p class="p0">{{rs.class}}</p>
        {% endfor %}
      </div>
    </section>
  </div>
</div>
<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</p>
    <p class="rf">Design by <a href="http://www.templatemonster.com/">TemplateMonster</a></p>
    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>
